:root {
  --size-variation: clamp(2rem, 12rem + 49vw, 35rem);
  --animation-time: 0.2s;
  --animation-delay: 2.5s;
}

/* navbar, header, footer */
.navbar {
  display: flex;
  justify-content: center;
}
#header,
#footer {
  background-color: lightgrey !important;
}
#header>span>img {
  padding-left: 1.4em;
  max-height: 10vh;
}
#header,
#footer {
  background-color: lightgrey !important;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* item wise specific styles */
.message {
  justify-self: center;
  position: relative;
  top: 10vh;
  color: maroon;
  font-size: 2rem;
  border: 2px solid green;
}

#timer {
  font-size: 2rem;
  color: maroon;
  display: flex;
  justify-content: center;
}
.upperline,
.lowerline {
  min-height: 25px;
  position: relative;
  background-color: rgb(247, 181, 0);
  z-index: -100;
}
.upperline {
  top: 28vh;
}
.lowerline {
  top: 2vh;
}

.smoke > svg {
  scale: 3;
  width: 44.33%;
  position: relative;
  top: 1vh;
  animation: fade_in 8s linear  forwards;
  @media (max-width: 550px) {
    sccale: 5;
    top: 2.4vh;
    left: 1.3vw;
  }
  @media (max-width: 266px) {
    scale: 5.3;
    top: 2vh;
    left: -1vw;    
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container > svg {
  scale: 1.5;
  @media (max-width: 550px) {
    scale: 3;
  }
  @media (max-width:  266px){
    scale: 4;
  }
}

#g1 {
  animation: make_wheel var(--animation-time) linear var(--animation-delay) forwards;
}
@keyframes make_wheel {
  100%{
    transform: matrix(0.48870913,0,0,0.30637106,62.644062,89.085362);
  }
}
#tail-pipe-smoke {
  @media (max-width: 266px) {
    opacity: 0;
  }
}
@keyframes fade_in {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}

#text1-7 {
animation: shake  0.15s infinite 1s;
}
@keyframes shake {
  25% {
    transform: matrix(1.0722962385484422, 0.0766028726226558, -0.05619666459588206, 1.4616698831855288, 61.58267862955542, 2.538708956247871);
  }
  50% {
    transform: matrix(1.0737678, 0, 0, 1.4636758, 56.204568, 8.5465905);
  }
  75% {
    transform: matrix(1.0722962385484422, -0.0766028726226558, 0.05619666459588206, 1.4616698831855288, 51.0644957028321, 14.92991425446201);
  }
}

#char-4-front {
  animation: make_front var(--animation-time) linear var(--animation-delay) forwards;
}
@keyframes make_front {
  100% {
    transform: matrix(-1.4499681, -0.04283326, -0.04295139, 1.0183296, 261.65654, 36.19958);
  }
}

#char-D {
  animation: make_fuel_tank var(--animation-time) linear;
  animation-fill-mode: forwards;
  animation-delay: var(--animation-delay);
}
@keyframes make_fuel_tank {
  100% {
    transform: matrix(-0.19024835, -1.8014537, -3.8708836, 0.40332646, 449.57362, 218.78697);
  }
}

#char-R {
  animation: make_seat var(--animation-time) linear var(--animation-delay) forwards;
}
@keyframes make_seat {
  100% {
    transform: matrix(8.7697621e-5, -2.1238598, -3.8812075, 0.23998036, 424.91581, 258.64642);
  }
}

#bracket {
  animation: make_mudguard var(--animation-time) linear var(--animation-delay) forwards;
}
@keyframes make_mudguard {
  100% {
    transform: matrix(-0.16193769, -0.93594781, 2.4431079, -0.16586458, -43.950857, 202.79105);
  }
}

#char-4-bracket {
  animation: make_chain_drive var(--animation-time) linear var(--animation-delay) forwards;
}
@keyframes make_chain_drive {
  100% {
    transform: matrix(-0.34573918, -0.88469573, 2.3606597, -0.65082478, -21.906379, 240.52193);
  }
}

.landing-content>section {
  height: 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  max-width: 50%;
  position: relative;
  left: 25%;
  margin-top: 30vh;
}

#reset-animation-button {
  position: relative;
  left: 47vw;
  top: 10vh;
  color: black;
  &:hover {
    scale: 1.1;
    background-color:  maroon;
    border: 2px solid black;
    color: ivory;
  }
}

